.block-input {
  display: flex;
  flex-direction: column;
  font-family: var(--font-text);
  .input-field {
    outline: none;
    box-shadow: var(--shadow-thin-right);
    -webkit-box-shadow: var(--shadow-thin-right);
    -moz-box-shadow: var(--shadow-thin-right);
    border: var(--border-black);
    border-radius: var(--border-radius-box);
    height: 1.8rem;
    margin: 0.3rem auto;
    width: 70%;
    padding: 0.2rem;
  }
  .input-field:hover,
  .input-field:focus {
    box-shadow: none;
  }
}
